body {
    margin: 0;
    width: 100%;
    font-family: myriad-pro, sans-serif;
}

h1 {
    font-size: 15px;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: -1px;
    color: rgb(1, 82, 78);
}

h3 {
    font-size: 15px;
    font-weight: 600;
    margin-top: 5px;
    color: rgb(51, 133, 119);
}

.submit-button {
    
    background-image: linear-gradient(to bottom right, rgb(148, 177, 145), rgb(22, 100, 77));
    /*background-color: rgb(3, 114, 71);*/
    color: rgb(240, 236, 222);
    border-radius: 5px;
    padding: 0 30px;
    font-size: 15px;
    line-height: 30px;
    font-weight: 900;
    text-transform: uppercase;
    border: 0;
    margin: 0;
    letter-spacing: -1px;
}

a {
    text-decoration: none;
    color: rgb(244, 247, 240);
}
.fontAwesomeLanding{
    color: rgb(143, 218, 124);
}